@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


body {
    background-color: #2f3744;
    font-family: 'Bangers', cursive;
    max-width: 100%;
  margin: auto;  
}

.navbar-brand{
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 4em;
  margin-top: 0;
}



.cardsBorder{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid;
    padding: 10px;
    border-radius: 30px;
    margin: 15px;
    margin-left: 4em;
    box-shadow: 0 0 0.9em rgb(30, 22, 22);
}

.cardsHr{
    color:white;
    width: 16rem;   
}

.card-body{
    text-decoration: none;
}

.container {
  display: flex;
  margin: 0;
}

.side{
  width: 500px;
}


.input-group{
  width: 25em;
}

.list-group-item{
  width: 10em;
  margin-right: 4em;
  background-color: #222831;
  color: #fff;
  font-size: 20px;
}

.editNote{
  margin-top: 1em;
  margin-left: 1.5em;
}

.editTitle{
  color: rgb(255, 255, 255);
}


.listSidebar{
  margin-left: 1em;
}


.searchInput{
  width: 20em;
  margin-top: 1em;
  margin-left: 4em;
  margin-bottom: 1em;
  background-color: #222831;
  color: #fff;
}
.search{
  align-items: center;
}

.editComment{
  color: #fff;
  font-size: small;
}

.textWrap{
  margin-bottom: 1.5em;
}