

body {
    background-color: #4a4641;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
}


.sidebar {
      background-color: #fff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      height: calc(100% - 64px);
      min-height: auto;
      overflow: hidden;
      padding-top: 8px;
      position: fixed;
      top: 64px;
      -webkit-transition-duration: 150ms;
      transition-duration: 150ms;
      width: 280px;
      z-index: 985;
  }


.navbar {
  display: flex;
  margin-bottom: 1em;
  box-shadow: inset 0 -1px 0 0 #78746e;
  width: 100%;
}

.navbar-brand{
  margin-left: 40px;
  margin-right: 250px;
}

.btn-sidebar {
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    -webkit-border-radius: 0 25px 25px 0;
    border-radius: 0 25px 25px 0;
    color: #202124;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 48px;
    min-width: 48px;
    overflow: hidden;
    width: 100%;
}

.btn-primary {
  background-color: white;
  border-color: transparent;
  color: black;
  margin-bottom: 10 px;
}

.cardsBorder{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid;
    padding: 10px;
    border-radius: 30px;
    margin: 15px;
    box-shadow: 0 0 0.9em rgb(30, 22, 22);
}

.cardsHr{
    color:white;
    width: 10rem;   
}

.card-body{
    text-decoration: none;
}

.container {
  display: flex;
  margin: 0;
}

.side{
  width: 500px;
}


.input-group{
  width: 25em;
}

.list-group-item{
  width: 10em;
  margin-right: 4em;
  background-color: rgb(228, 212, 212);
}

.editNote{
  margin-top: 1em;
  margin-left: 1.5em;
}

.editTitle{
  color: rgb(255, 255, 255);
}


.cardEdit{
  margin-left: 4em;
}


.listSidebar{
  margin-left: 3em;
}


.searchInput{
  width: 20em;
  margin-top: 1em;
  margin-left: 1.5em;
  margin-bottom: 1em;
  background-color: rgb(228, 212, 212);
}